body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 22px;
    margin: 20px;
    margin-bottom: 40px;
}

a {
    color: #4761c7;
    text-decoration: none;
}

.setup {
    margin: 0 10px;
}
.setup input {
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    padding: 2px;
    width: 80px;
    vertical-align: -1px;
}

.setup select, .setup textarea {
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    font-size: 17px;
    vertical-align: -1px;
}

.setup {
    margin: 20px auto;
    width: 440px;
}

.setup .field {
    margin: 10px 0;
}

.setup input[type="checkbox"] {
    width: auto;
    vertical-align: middle;
}

.setup label {
    vertical-align: middle;
    font-size: 15px;
    width: 150px;
    text-align: right;
    display: inline-block;
    color: #858585;
}

.tools {
    margin: 20px;
    text-align: center;
    line-height: 20px;
}

.tools a {
    font-weight: bold;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
}

.card {
    background: white;
    border: 1px dashed #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    page-break-inside: avoid;
}

.marker-svg-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5mm;
  margin-bottom: 5mm;
  width: 100%;
}

.marker-svg-group > svg {
    flex-shrink: 0;
}

.card .card-text {
    margin: 0 1em 0 0;
    font-size: 20px;
}

footer {
    font-weight: normal;
    margin: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
    color: #919191;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        background: white;
    }

    body > * {
        display: none;
    }

    #cards {display: flex}
}